/test/nbproject/private/
/Sortieren/nbproject/private/
/Sortieren/build/
/Flussdiagramm/nbproject/private/
/Flussdiagramm/build/
/InsertionSort/nbproject/private/
/NetworkSimulation/nbproject/private/
/Datenstruckturen/nbproject/private/
/Datenstruckturen/build/
/NetworkSimulation/build/
/Rekursion/nbproject/private/
/Rekursion/build/