/test/nbproject/private/
/Sortieren/nbproject/private/
/Sortieren/build/
/Flussdiagramm/nbproject/private/
/Flussdiagramm/build/
/InsertionSort/nbproject/private/
/NetworkSimulation/nbproject/private/