/test/nbproject/private/
/Sortieren/nbproject/private/
/Sortieren/build/
/Flussdiagramm/nbproject/private/
/Flussdiagramm/build/
/InsertionSort/nbproject/private/
/NetworkSimulation/nbproject/private/
/Datenstruckturen/nbproject/private/
/Datenstruckturen/build/
/NetworkSimulation/build/
/Rekursion/nbproject/private/
/Rekursion/build/
/Reku2/nbproject/private/
/Reku2/build/
/UMLtoJava/nbproject/private/
/Rennschnecke/nbproject/private/
/Schneckenrennen/nbproject/private/
/Schneckenrennen/build/
/Test2/nbproject/private/
/Autohaus/nbproject/private/
/Autohaus/build/
/Enums/nbproject/private/
/Enums/build/
/KurzwellenÜbertragungsGerät/nbproject/private/
/KurzwellenÜbertragungsGerät/build/
/Flughafen/nbproject/private/
/Flughafen/build/
/PizzaEdi/nbproject/private/
/PizzaEdi/build/
/Feuerwehr/nbproject/private/
/Feuerwehr/build/
/SubnetUebung/nbproject/private/
/SubnetUebung/build/